{% extends 'base.html.twig' %}

{% block title %}Edit Ajouter{% endblock %}

{% block body %}
    <h1>Edit Ajouter</h1>

    {{ include('ajouter/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_ajouter_index') }}">back to list</a>

    {{ include('ajouter/_delete_form.html.twig') }}
{% endblock %}
