{% extends 'base.html.twig' %}

{% block title %}New Ajouter{% endblock %}

{% block body %}
    <h1>Create new Ajouter</h1>

    {{ include('ajouter/_form.html.twig') }}

    <a href="{{ path('app_ajouter_index') }}">back to list</a>
{% endblock %}
