{% extends 'base.html.twig' %}

{% block title %}New Image{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/e_commerce.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>Create new Image</h1>

    {{ include('image/_form.html.twig') }}

    <a href="{{ path('app_image_index') }}" class="btn btn-secondary mt-2">retour a la liste</a>
{% endblock %}
